body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #ff9ecf, #ff69b4);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background: white;
    padding: 30px;
    border-radius: 20px;
    text-align: center;
    width: 320px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

h1 {
    color: #ff1493;
}

p {
    color: #555;
}

input {
    width: 90%;
    padding: 12px;
    border: 2px solid #ff69b4;
    border-radius: 10px;
    font-size: 16px;
}

button {
    margin-top: 15px;
    padding: 12px 20px;
    border: none;
    background: #ff1493;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background: #e60073;
}

#result {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}
.heart {
    position: fixed;
    bottom: -50px;
    font-size: 30px;
    pointer-events: none;
    animation: floatUp linear forwards;
}

@keyframes floatUp {
    0% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        transform: translateY(-110vh);
        opacity: 0;
    }
}

.container {
    animation: pop 0.8s ease;
}

@keyframes pop {
    from {
        transform: scale(0.8);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

button {
    transition: 0.3s;
}

button:hover {
    transform: scale(1.08);
}